// Home Content

@keyframes fallFromHeaven {
  0% {
    opacity: 0.2;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.home {
  margin-top: 8rem;

  .fade(fallFromHeaven, 1.2s);

  .intro {
    img {
      width: 100%;
      border-radius: 5px;
    }

    h2 {
      padding: 15px;
    }

    p {
      padding: 0 15px;
    }
  }

  .space-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    img {
      width: 28%;
      margin: 20px 2.5%;
      border-radius: 20px;
      height: 100%;
    }

    .sky,
    .launch {
      display: block;
    }

    @media @mobile {
      .sky,
      .launch {
        display: none;
      }

      img {
        width: 100%;
      }
    }
  }

  .visit-planets {
    padding: 15px;

    h3 {
      margin-top: 11px;
    }

    p {
      margin-top: 13px;
    }

    @media @mobile {
      padding-bottom: 0px;
    }
  }

  .walk {
    margin-top: 60px;
    border-top: 1px solid @main-border-color;
    padding: 50px 60px;
    display: flex;
    justify-content: center;

    .walk-text {
      width: 50%;

      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 26px;
      }

      .btn {
        .button(@btn-bg-color, white);
      }
    }

    .walk-img {
      width: 46%;
      margin-left: 4%;

      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }

      &.top {
        display: none;
      }

      &.bottom {
        display: block;
      }
    }

    @media @mobile {
      padding: 20px 15px;
      flex-direction: column;
      margin-top: 25px;

      .walk-text {
        width: 100%;
        margin-top: 10px;

        .btn {
          width: 100%;
          height: 5.6rem;
        }
      }

      .walk-img {
        width: 100%;
        margin: 0 auto;

        &.top {
          display: block;
        }

        &.bottom {
          display: none;
        }
      }
    }
  }
} // home

#signup {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;

  .fade(fallFromHeaven, 0.2s);

  .overlay {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: black;
    overflow: auto;
    position: fixed;
  }

  form {
    padding: 3rem;
    z-index: 2;
    max-width: 48rem;
    max-height: 24rem;
    width: 95%;
    height: 55%;
    opacity: 1.5;
    border-radius: 1.5rem;
    background-color: @nav-bg;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .formRow {
      display: flex;
      flex-direction: row;

      input {
        height: 5rem;
        font-size: 24px;
        padding: 1rem 1.2rem;
        width: 70%;
        border-radius: 0.6rem;
        border: 1px solid rgba(128, 128, 128, 0.39);
      }

      #closeButton {
        width: 10%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }

      #signupBtn {
        .button(@btn-bg-color, rgb(236, 236, 236), 30%, 100%);
      }
    }
  }
}
